<!DOCTYPE html>
<html>
  <head>
    <title>Create Member</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/members">Employee List</a></h3>
      <h1>Create New Employee</h1>
      <form action="/members/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Phone</td>
              <td><textarea name="phone"></textarea></td>
            </tr>
            <tr>
              <td>ID Project</td>
              <td><input type="text" name="Idproject" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
